@import '../app.scss';

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px 80px;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        li {
            margin-left: 57px;
            a {
                font-size: 24px;
                font-weight: 500;
                line-height: 34.22px;
                text-align: right;
                color: black;
            }
            .active-link {
                text-decoration: underline; /* Souligne le lien actif */
            }
        }
    }
}

