@import '../app.scss';

.logementDetails-fiche {
    margin: 50px 80px 80px 80px;

    &-carrousel {
        position: relative; // Pour positionner les boutons
        width: 100%;
        height: 415px;      /* Hauteur fixe du conteneur */
        display: flex;      /* Centre le contenu */
        justify-content: center; /* Horizontalement */
        align-items: center;    /* Verticalement */
        overflow: hidden;   /* Cache le surplus si nécessaire */
        border-radius: 25px;
        img {
            width: 100%;        /* Prend toute la largeur */
            height: auto; 
            
        }
        .carousel-button {
            background-color: rgba(0, 0, 0, 0); // Fond transparent
            position: absolute;
            border: none;
            cursor: pointer;
            display: flex;
            padding: 205px 50px 205px 30px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
                }
        }
        .prev {
            left: 0; // Distance par rapport au bord gauche
        }
        .next {
            right: 0; // Distance par rapport au bord droit
        }
        .carousel-indicator {
            position: absolute;
            bottom: 30px; // Distance par rapport au bas
            left: 50%; // Centrer horizontalement
            color: $blanc;
            font-size: 18px;
            font-weight: 500;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            &-gauche {
                h2 {
                    color: $rouge-saumon;
                    font-size: 36px;
                    font-weight: 500;
                }
                p {
                    margin-top: 10px;
                    font-size: 18px;
                    font-weight: 500;
                }
                ul {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                    li {
                        color: $blanc;
                        margin-right: 10px;
                        background-color: $rouge-saumon;
                        padding: 5px 30px;
                        border-radius: 10px;
                        font-size: 14px;
                        font-weight: 700;
                        letter-spacing: 0.5px;
                    }
                }
            }
            &-droite {
                display: flex;
                flex-direction: column;
                &-profil {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 20px;
                    justify-content: flex-end;
                    p {
                        font-size: 18px;
                        font-weight: 500;
                        color: $rouge-saumon;
                        max-width: 93px;
                        text-align: right;
                    }
                    img {
                        height: 64px;
                        width: 64px;
                        border-radius: 50%;
                        margin-left: 15px;
                    }
                }
                &-rating {
                    display: flex;
                    gap: 5px; // Espacement entre les étoiles
                    margin-top: 5px;
                    justify-content: flex-end;
                    .star {
                        width: 25px; // Ajuste la taille
                        height: 25px; // Ajuste la taille
                        margin-left: 10px;
                
                        &.red {
                            fill: $rouge-saumon; // Rouge-saumon pour les étoiles actives
                        }
                
                        &.gray {
                            fill: #E3E3E3; // Gris clair pour les étoiles inactives
                        }
                    }
                }
            }
        }
        &-accordion {
            display: flex;
            justify-content: space-between;
            .accordion {
                width: 47%;
                &-content {
                    p {
                        font-size: 18px;
                    }
                    ul {
                        li {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}