@import './variables.scss'; // insertion variables de couleurs
@import './fonts.scss';

* {
  margin: 0;
  font-family: Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-decoration-skip-ink: auto;
  text-decoration: none;
  list-style-type: none;
  // box-sizing: border-box;
}


ul {
  padding-inline-start: 0;
}






